.cart-empty-img {
  width: 300px;
}

.checkout-title {
  font-size: 80px;
}

.badge{
  vertical-align: middle;
}

.product-info-container{
  height:30%;
  font-size:30px;
  padding:5%;
  display:inline-block;
  /* border:1px solid gray; */
  position:relative;
  top:-2.5em;
}

.delete-btn{
  float:right;
  position:relative;
  top:1.9em;
}

hr{
  color:var(--secondary-link-color);
  margin-top:-1em;
  margin-bottom:2em;
}